---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="min-h-screen flex flex-col justify-center items-center gap-8">
    <h1 class="text-3xl font-fancy">Hey 👋</h1>

    <img alt="logo" src="logo.png" class="h-[120px]" />

    <p>Welcome to MasterChiasse</p>
  </div>
</Layout>
